### Note 2
As mentioned previously, you can follow any approach to find the final list of countries. Either you can use the binning approach, or use the outlier assign approach where you assign each outlier that you got to the given cluster means. Here we'll take a look at one such easier approach where we use the binning approach for one of the indicators which show a good variability among the  different clusters.

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
fin = pd.read_csv('Country-data.csv')
#Converting exports,imports and health spending percentages to absolute values.
fin['exports'] = fin['exports']*fin['gdpp']/100
fin['imports'] = fin['imports']*fin['gdpp']/100
fin['health'] = fin['health']*fin['gdpp']/100

In [3]:
fin.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.30,41.9174,248.297,1610,9.44,56.2,5.82,553
1,Albania,16.6,1145.20,267.8950,1987.740,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,1712.64,185.9820,1400.440,12900,16.10,76.5,2.89,4460
3,Angola,119.0,2199.19,100.6050,1514.370,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,5551.00,735.6600,7185.800,19100,1.44,76.8,2.13,12200

In [4]:
#Let's use the binning with gdpp first to see the list of countries which might be important.
#The upper limit that we got from the clustering process was 2300.
#Let's filter the complete dataset with 2300 as the cut-off limit for gdpp.
fin2=fin[fin['gdpp']<=2300]
fin2.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.300,41.9174,248.297,1610,9.440,56.2,5.82,553
12,Bangladesh,49.4,121.280,26.6816,165.244,2440,7.140,70.4,2.33,758
17,Benin,111.0,180.404,31.0780,281.976,1820,0.885,61.8,5.36,758
18,Bhutan,42.7,926.500,113.3600,1541.260,6420,5.990,72.1,2.38,2180
19,Bolivia,46.6,815.760,95.8320,679.140,5410,8.780,71.6,3.20,1980

In [5]:
len(fin2)

51

In [6]:
#So we got 51 countries here. We can create further sub-categories by taking another good clustering indicator. 
#Let's use the describe function to see how the variables are aligned now.
fin2.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,82.196078,277.390932,55.648610,425.589061,2421.039216,8.701471,61.384314,4.456078,921.058824
std,38.227922,245.951433,36.811409,344.028228,1397.644203,5.720899,7.465906,1.399140,476.937330
min,17.200000,1.076920,12.821200,0.651092,609.000000,0.885000,32.100000,1.270000,231.000000
25%,55.750000,102.497500,31.513200,185.067000,1400.000000,4.185000,57.400000,3.250000,557.500000
50%,80.300000,180.404000,45.744200,302.802000,1990.000000,7.640000,61.700000,4.750000,769.000000
75%,104.500000,414.393000,67.530500,497.965000,3300.000000,12.100000,66.550000,5.350000,1300.000000
max,208.000000,943.200000,190.710000,1541.260000,6420.000000,23.600000,73.100000,7.490000,2180.000000

In [24]:
#From the clustering process we got the life expectancy to be atmost 68 for the most downtrodden cluster. 
#Let's see how many countries lie below that number
len(fin2[fin2['life_expec']<=68])

40

In [28]:
#Ok so we got 40 countries now. We can stop here or take one more indicator and find the final list.
#Here we are taking income as the next one, where around 2330 was the median income of the downtrodden cluster.
fin3=fin2[fin2['life_expec']<=68]
fin4=fin3[fin3['income']<2330]
len(fin4)

27

In [29]:
#We're left with 27 countries, let's use the describe function to see how they're aligned again.
fin4.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000,27.000000
mean,100.292593,142.130370,43.194341,295.217741,1386.777778,7.217222,57.859259,5.343333,617.222222
std,37.982505,120.760264,31.363995,255.449074,428.064547,5.248045,6.524820,0.908024,285.668492
min,28.100000,20.605200,12.821200,90.552000,609.000000,0.885000,32.100000,3.330000,231.000000
25%,76.100000,72.408000,28.522050,169.535000,1110.000000,2.790000,56.350000,4.810000,432.500000
50%,90.500000,110.400000,37.332000,204.282000,1410.000000,6.390000,58.700000,5.310000,562.000000
75%,116.000000,170.914000,46.119600,292.389000,1695.000000,10.020000,61.250000,5.845000,705.000000
max,208.000000,635.970000,168.370000,1190.510000,2180.000000,20.800000,65.900000,7.490000,1490.000000

In [30]:
#The final list of countries 
fin4

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.3000,41.9174,248.297,1610,9.440,56.2,5.82,553
17,Benin,111.0,180.4040,31.0780,281.976,1820,0.885,61.8,5.36,758
25,Burkina Faso,116.0,110.4000,38.7550,170.200,1430,6.810,57.9,5.87,575
26,Burundi,93.6,20.6052,26.7960,90.552,764,12.300,57.7,6.26,231
31,Central African Republic,149.0,52.6280,17.7508,118.190,888,2.010,47.5,5.21,446
32,Chad,150.0,330.0960,40.6341,390.195,1930,6.390,56.5,6.59,897
36,Comoros,88.2,126.8850,34.6819,397.573,1410,3.870,65.9,4.75,769
37,"Congo, Dem. Rep.",116.0,137.2740,26.4194,165.664,609,20.800,57.5,6.54,334
50,Eritrea,55.2,23.0878,12.8212,112.306,1420,11.600,61.7,4.61,482
56,Gambia,80.3,133.7560,31.9778,239.974,1660,4.300,65.5,5.71,562
63,Guinea,109.0,196.3440,31.9464,279.936,1190,16.100,58.0,5.34,648
64,Guinea-Bissau,114.0,81.5030,46.4950,192.544,1390,2.970,55.6,5.05,547
66,Haiti,208.0,101.2860,45.7442,428.314,1500,5.450,32.1,3.33,662
81,Kiribati,62.7,198.1700,168.3700,1190.510,1730,1.520,60.7,3.84,1490
88,Liberia,89.3,62.4570,38.5860,302.802,700,5.470,60.8,5.02,327
93,Madagascar,62.2,103.2500,15.5701,177.590,1390,8.790,60.8,4.60,413
94,Malawi,90.5,104.6520,30.2481,160.191,1030,12.100,53.1,5.31,459
97,Mali,137.0,161.4240,35.2584,248.508,1870,4.370,59.5,6.55,708
106,Mozambique,101.0,131.9850,21.8299,193.578,918,7.640,54.5,5.56,419
112,Niger,123.0,77.2560,17.9568,170.868,814,2.550,58.8,7.49,348
126,Rwanda,63.6,67.5600,59.1150,168.900,1350,2.610,64.6,4.51,563
129,Senegal,66.8,249.0000,56.6000,403.000,2180,1.850,64.0,5.06,1000
132,Sierra Leone,160.0,67.0320,52.2690,137.655,1220,17.200,55.0,5.20,399
136,Solomon Islands,28.1,635.9700,110.2950,1047.480,1780,6.810,61.7,4.24,1290
147,Tanzania,71.9,131.2740,42.1902,204.282,2090,9.250,59.3,5.43,702
150,Togo,90.3,196.1760,37.3320,279.624,1210,1.180,58.7,4.87,488
155,Uganda,81.0,101.7450,53.6095,170.170,1540,10.600,56.8,6.15,595

#### Final Remarks
Hence, major focus should be given to the countries mentioned above.

#### Additional Remarks (Non-Evaluative)

A similar heuristic is used by the United Nations to calculate the Human Development Index (HDI) to rank countries on the basis of their development. They take 3 measures - Life Expectancy, Literacy Rate and Gross National Income. The logic behind using these 3 variables is that they directly affect the rest of the variables that determine the rest of their development. For example,  if you take a dataset where a lot of different socio-economic variables information is available, those variables would be heavily correlated to atleast one the 3 factors mentioned previously.

In this assignment however, we are actually finding those indicators by using VIF. Then instead of using a metric like HDI, we are clustering them on the basis of those important indicators. The clusters that are formed are similar to the HDI ranges used to denote development. Check out this link to read more on it: http://hdr.undp.org/en/content/human-development-index-hdi. And here is a list of the countries ranked according to HDI: http://hdr.undp.org/en/composite/HDI